body{
    background: black;
}
h1{
    font-family: sans-serif;
    letter-spacing: 1px;
    color: white;
    font-size: 50px;
}
.icon{
    margin-left: 10px;
    font-size: 78px;
}
header{
    margin-top: 20px;
    overflow: hidden;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 100%;
    height: 89px;
    box-shadow: 0px 0px 360px white;
    background-color: black;
    border-radius: 360px;
}
.navigation{
    position: relative;
    margin-right: 100px;
    padding: 10px 10px;   
}
.navigation a{
    position: relative;
    text-decoration: none;
    color: white;
    padding: 2px;
    font-size: 20px;
    font-family:sans-serif;
    margin-right: 30px;
    margin-left: 10px;
}
/*.navigation a:hover{
    border-style: solid;
    border-color: white;
}*/
.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 4px;
    background: white;
    border-radius: 5px;
     transform: scaleX(0); 
    transition: transform .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
    box-shadow: 2px 2px 20px black;
}
.search-box{
    padding: 10px 10px;
    border-radius: 10px;
    border-color: aqua;
    border: 2px solid;
    background: transparent;
    box-shadow: 0px 0px 6px white;
    transition: transform 1s;
    border-color: white;
    color: white;
    font-size: 20px;
    margin-right: 7px; <!--imp-->
}
.search-box:hover{
    transform: translateY(-2px);
    cursor: pointer;
}
.search-btn{
    padding: 10px 10px;
    border-radius: 10px;
    border-color: white;
    border: solid;
    box-shadow: 0px 0px 6px white;
    background: transparent;
    transition: transform 1s;
    color: white;
    font-size: 20px;
}
.search-btn:hover{
    transform: translateY(-2px);
    cursor: pointer;
}
.h3{
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    top: 50px;
    margin-bottom: -30px;
    margin-left: 80px;
    font-size: 30px;
    color: white;
    font-family: sans-serif;
    
}
.music{
    border-color: white;
    min-height: 80vh;
    width: 700px;
    background-color: black;
    box-shadow: -5px -3px 30px white;
    border-radius: 40px;
    background-image: url(https://media.istockphoto.com/id/1157772490/vector/gold-colored-audio-waves-vector-background.jpg?s=612x612&w=0&k=20&c=I1hJvxZHctvqvCooS1WBXNeB62iDWgzN1hWNsQvyryU=);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:fixed;
    background-size: 80% 100%;
}
.song{
    display: flex;
    margin-top: 20px; 
    background-color: white;
    border-radius: 50px;
    width: 300px;
    margin-right: 350px;
    background: transparent;
    border: none;
    background-image: linear-gradient(to right,darkgreen, lime);
}
.song:hover{
    cursor: pointer;
}
#song{
    margin-top: 110px;
}
.song-icon{
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    bottom: -10px;
    font-size: 30px;
    margin-left: 10px;
    color: lawngreen;
}
.avengers-music{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 330px;
    padding: 8px;   
}
p{
    margin-left: 20px;
    color: black;
    font-family: sans-serif;
}
.p{
    margin-left: 10px;
}
img{
    margin-top: 5px;
    margin-left: 6px;
    border-radius: 200px;
    border-style: solid;
    border-color: white;
}
@media only screen and (max-width: 1100px) {
    body {
      background-color: red;
    }
  }